<div class="container-fluid">
  <div class="row">
      <div class="co-12">
    <div class="wavebg">
        <img src="../../assets/sol_wave_bg.png" alt="">
      </div></div></div>
      <div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <img src="../../assets/Get Paid Instantly.png" alt="">
              <h5 class="card-title">Quick cash disbursement</h5>
              <p class="card-text">Get terms loans that your business needs within 72hr</p>
            </div>
    </div>
    <div class="card-1">
      <div class="card-body">
          <img src="../../assets/Low interest rate.png" alt="">
        <h5 class="card-title">Low-Interest rate</h5>
        <p class="card-text">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
      </div>
</div>   
<div class="card-2">
  <div class="card-body">
      <img src="../../assets/Secure Payments.png" alt="">
    <h5 class="card-title">Zero paperwork</h5>
    <p class="card-text">Get started instantly by submitting only your basic details & bank statements</p>
  </div>
</div>  
<div class="card-3">
  <div class="card-body">
    <img src="../../assets/freelancer_feature_icon_6@1.5x.png" alt="">
  <h5 class="card-title">Ace your business finances</h5>
  <p class="card-text">Manage banking, accounting & everything in between, on one platform</p>
</div>
</div>  
<div class="card-4">
  <div class="card-body">
      <img src="../../assets/Covid.png" alt="">
    <h5 class="card-title">Loans to fight COVID-19</h5>
    <p class="card-text">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
  </div>
</div>    
</div>
<div class="col-6">
    <h2 class="content">Boost your business <br> with Open</h2>
    <hr class="size">
    <div class="small-content">Get your hands on a term loan that's <br> crafted for your business <br><br>
      <button class="btn btn-outline-secondary1 mr-3">Get an Open Account</button>
    </div>
</div>
</div>